.loading-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .loading-text {
    position: fixed;
    left: 50%;
    color: #288ee4;
    animation: breath 0.8s infinite linear alternate;
    top: 20%;
    text-align: center;
    transform: translateX(-50%);
  }
}

// 呼吸动画
@keyframes breath {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}
